<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" role="navigation">
    <a class="c4-brand navbar-brand" href="/">Community for F#</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          {% assign mypages = site.pages | sort: "order" %}
            {% for page in mypages %}
            {% if page.order != null %}
            <li class="nav-item"><a class="nav-link" href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
            {% endif %}
            {% endfor %}
            <li class="nav-item">
                <a class="nav-link" href="https://twitter.com/c4fsharp" target="_blank" rel="noopener" style="color:fff">
                    <span class="icon">
                        <i class="fab fa-twitter" aria-hidden="true"></i>
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/c4fsharp" target="_blank" rel="noopener" style="color:fff">
                    <span class="icon">
                        <i class="fab fa-github" aria-hidden="true"></i>
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.youtube.com/channel/UCCQPh0mSMaVpRcKUeWPotSA/feed" target="_blank" rel="noopener" style="color:fff">
                    <span class="icon">
                        <i class="fab fa-youtube" aria-hidden="true"></i>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</nav>
