<header class="navbar navbar-inverse navbar-fixed-top c4-docs-nav" role="banner">
    <div class="container">
        <div class="navbar-header">
            <a class="c4-brand navbar-brand" href="/">Community for F#</a>
        </div>
        <nav class="navbar-collapse collapse" role="navigation">
            <ul class="nav navbar-nav">
                <li><a href="http://twitter.com/c4fsharp">Twitter</a></li>
                <li><a href="https://github.com/c4fsharp">GitHub</a></li>
                <li><a href="http://vimeo.com/channels/c4fsharp">Vimeo</a></li>
                <li><a href="http://www.youtube.com/channel/UCCQPh0mSMaVpRcKUeWPotSA/feed">YouTube</a></li>
                <li><a href="http://fsharp.org/">F# Software Foundation</a></li>
                <li><a href="http://community.fsharp.org/user_groups/">User Groups</a></li>
                <li><a href="/project-ideas">Project Ideas</a></li>
            </ul>
        </nav>
    </div>
</header>
<!--
<div class="col-md-3">
    <div class="c4-sidebar hidden-print affix-top" role="complementary">
        <ul class="nav c4-sidenav">
            <li>
                <a href="#online-presentations">F# Presentations Online</a>
                <ul class="nav">
                    <li><a href="#watch-fsharp-presentations">Watch F# Presentations</a></li>
                    <li><a href="#host-online-event">Share an Event Online</a></li>
                </ul>
            </li>
            <li>
                <a href="#fsharp-coding-dojos">F# Coding Dojos</a>
                <ul class="nav">
                    <li><a href="#what-is-a-dojo">What is a Dojo?</a></li>
                    <li><a href="#organizing-a-dojo">Organizing a Dojo</a></li>
                    <li><a href="#list-of-dojos">Dojo Library</a></li>
                    <li><a href="#classic-learning-exercises">Classic Coding Exercises</a></li>
                </ul>
            </li>
            <li>
                <a href="#fsharp-workshops">F# Workshops</a>
                <ul class="nav">
                    <li><a href="#what-is-a-workshop">What is a Workshop?</a></li>
                    <li><a href="#list-of-workshops">Workshop Library</a></li>
                </ul>
            </li>
            <li><a href="#heroes">Community for F# Heroes</a></li>
            <li><a href="https://github.com/c4fsharp/c4fsharp.github.io/blob/master/project-ideas.md">Project Ideas</a></li>
            <li>
                <a href="#governance">Governance</a>
            </li>
        </ul>
    </div>
</div>
-->
