<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" role="navigation">
    <a class="c4-brand navbar-brand" href="/">Community for F#</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="http://twitter.com/c4fsharp" target="_blank">Twitter</a></li>
            <li class="nav-item"><a class="nav-link" href="https://github.com/c4fsharp" target="_blank">GitHub</a></li>
            <li class="nav-item"><a class="nav-link" href="http://vimeo.com/channels/c4fsharp" target="_blank">Vimeo</a></li>
            <li class="nav-item"><a class="nav-link" href="http://www.youtube.com/channel/UCCQPh0mSMaVpRcKUeWPotSA/feed" target="_blank">YouTube</a></li>
            <li class="nav-item"><a class="nav-link" href="http://fsharp.org/" target="_blank">F# Software Foundation</a></li>
            <li class="nav-item"><a class="nav-link" href="http://community.fsharp.org/user_groups/" target="_blank">User Groups</a></li>
            <li class="nav-item"><a class="nav-link" href="project-ideas">Project Ideas</a></li>
        </ul>
    </div>
</nav>
<!--
<div class="col-md-3">
    <div class="c4-sidebar hidden-print affix-top" role="complementary">
        <ul class="nav c4-sidenav">
            <li>
                <a href="#online-presentations">F# Presentations Online</a>
                <ul class="nav">
                    <li><a href="#watch-fsharp-presentations">Watch F# Presentations</a></li>
                    <li><a href="#host-online-event">Share an Event Online</a></li>
                </ul>
            </li>
            <li>
                <a href="#fsharp-coding-dojos">F# Coding Dojos</a>
                <ul class="nav">
                    <li><a href="#what-is-a-dojo">What is a Dojo?</a></li>
                    <li><a href="#organizing-a-dojo">Organizing a Dojo</a></li>
                    <li><a href="#list-of-dojos">Dojo Library</a></li>
                    <li><a href="#classic-learning-exercises">Classic Coding Exercises</a></li>
                </ul>
            </li>
            <li>
                <a href="#fsharp-workshops">F# Workshops</a>
                <ul class="nav">
                    <li><a href="#what-is-a-workshop">What is a Workshop?</a></li>
                    <li><a href="#list-of-workshops">Workshop Library</a></li>
                </ul>
            </li>
            <li><a href="#heroes">Community for F# Heroes</a></li>
            <li><a href="https://github.com/c4fsharp/c4fsharp.github.io/blob/master/project-ideas.md">Project Ideas</a></li>
            <li>
                <a href="#governance">Governance</a>
            </li>
        </ul>
    </div>
</div>
-->
