<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="manifest" href="{{ manifest.json | relative_url }}">
    <link rel="icon" sizes="192x192" href="{{ favicon-192x192.png | relative_url }}">
    <link rel="apple-touch-icon" href="{{ apple-touch-icon.png | relative_url }}">
    <link rel="shortcut icon" href="{{ favicon.ico | relative_url }}">
    <meta name="msapplication-square150x150logo" content="{{ ms-icon-150x150.png | absolute_url }}">
    <meta name="msapplication-config" content="{{ browserconfig.xml | absolute_url }}">
    <meta name="msapplication-TileColor" content="#F99D25">
    <meta name="theme-color" content="#F99D25">
    <link rel="stylesheet" href="//cdn.usebootstrap.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//kit-free.fontawesome.com/releases/latest/css/free.min.css" media="all" />
    <link rel="stylesheet" href="//kit-free.fontawesome.com/releases/latest/css/free-v4-shims.min.css" media="all" />
    <link rel="stylesheet" href="{{ Content/style.css | relative_url }}" />
    <link rel="stylesheet" href="{{ Content/pygment_trac.min.css | relative_url }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="{{ site.description }}" />
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{{ page.summary }}">
    <meta property="og:image" content="{{ favicon.ico | absolute_url }}">
    <meta property="og:url" content="{{ page.url | absolute_url }}">
    <meta property="og:site_name" content="Community for F#">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-47056767-1', 'c4fsharp.net');
      ga('send', 'pageview');
    </script>
</head>
<body>
    <a class="sr-only" href="#content">Skip to main content</a>

    {% include navigation.html %}

    {% include header.html %}

    <div class="container">
        <div class="row">
            <div class="col-md-9" role="main">
                {{ content }}
            </div>
        </div>

        {% include footer.html %}

    </div>
    <script type="module">
import 'https://cdn.jsdelivr.net/npm/@pwabuilder/pwaupdate';
function check() {
  if (!('serviceWorker' in navigator)) {
    throw new Error('No Service Worker support!');
  }
  if (!('PushManager' in window)) {
    throw new Error('No Push API Support!');
  }
}
function registerServiceWorker() {
  const el = document.createElement('pwa-update');
  document.body.appendChild(el);
}
async function requestNotificationPermission() {
  const permission = await window.Notification.requestPermission();
  // value of permission can be 'granted', 'default', 'denied'
  // granted: user has accepted the request
  // default: user has dismissed the notification permission popup by clicking on x
  // denied: user has denied the request.
  if(permission !== 'granted'){
    throw new Error('Permission not granted for Notification');
  }
}
async function main() {
  check();
  registerServiceWorker();
  window.addEventListener("DOMContentLoaded", requestNotificationPermission, false);
}
main();
    </script>
</body>
</html>
