<!doctype html>
<html lang="en">
<head>
    {% include meta.html %}
</head>
<body>
    <a class="sr-only" href="#content">Skip to main content</a>
    {% include navigation.html %}
    {% include header.html %}
    <main>
      {{ content }}
    </main>
    {% include footer.html %}
    <!-- Common Add to Homescreen Template -->
    <div class="ath-container banner-bottom-center">
        <div class="ath-banner">
            <div class="ath-banner-cell">
                <img src="img/pwa-logo-50x50.png" alt="PWA" class="ath-prompt-logo">
            </div>
            <div class="ath-banner-title">
                <p>Install this PWA?</p>
            </div>
            <div class="ath-banner-cell">
                <button class="btn btn-cancel btn-link">Not Now</button>
            </div>
            <div class="ath-banner-cell">
                <button class="btn btn-install btn-success">Install</button>
            </div>

        </div>
    </div>
    <script src="js/addtohomescreen.min.js" type="application/javascript"></script>
    <script>
        addToHomescreen( {
            appID: "net.c4fsharp",
            appName: "Community for F#",
            lifespan: 15,
            autostart: true,
            skipFirstVisit: true,
            minSessions: 1,
            displayPace: 0,
            customPrompt: {
                title: "Install Community for F#?",
                src: "meta/favicon-96x96.png",
                cancelMsg: "Cancel",
                installMsg: "Install"
            }
        } );
    </script>
    <script type="module">
import 'https://cdn.jsdelivr.net/npm/@pwabuilder/pwaupdate';
function check() {
  if (!('serviceWorker' in navigator)) {
    throw new Error('No Service Worker support!');
  }
  if (!('PushManager' in window)) {
    throw new Error('No Push API Support!');
  }
}
function registerServiceWorker() {
  const el = document.createElement('pwa-update');
  document.body.appendChild(el);
}
async function requestNotificationPermission() {
  const permission = await window.Notification.requestPermission();
  // value of permission can be 'granted', 'default', 'denied'
  // granted: user has accepted the request
  // default: user has dismissed the notification permission popup by clicking on x
  // denied: user has denied the request.
  if(permission !== 'granted'){
    throw new Error('Permission not granted for Notification');
  }
}
async function main() {
  check();
  registerServiceWorker();
  window.addEventListener("DOMContentLoaded", requestNotificationPermission, false);
}
main();
    </script>
</body>
</html>
